---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import AWSHeadshot from "../assets/images/CPT_Albert_Stevens.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="bg-gray-100 py-10 px-5 flex justify-center">
      <div class="max-w-3xl w-full prose">
        <h2 class="text-4xl text-blue-600 text-center">
          Views from the Stratosphere
        </h2>

        <div class="flex justify-center mb-8">
          <Image
            src={AWSHeadshot}
            alt="Albert W Stevens"
            class="rounded-3xl w-307 h-432"
            loading={"eager"}
          />
        </div>
        <p class="text-lg mb-4">
          This site is dedicated to the life and achievements of Albert W.
          Stevens, a pioneer in aerial photography and high-altitude
          exploration.
        </p>
        <p class="text-lg mb-4">
          Dive into the stories of his groundbreaking balloon flights and his
          contributions to our understanding of the Earth from above.
        </p>
        <p>
          While flying over South America in 1930, Stevens took the first
          photograph of the Earth in a way that the horizon's curvature is
          visible. To photograph through haze, Stevens often employed
          infrared-sensitive film for long-distance aerial photography.
        </p>
        <p>
          He was born on March 13, 1886, in Belfast, Maine. He graduated from
          the University of Maine in 1909 with a master's degree in electrical
          engineering. While flying over South America in 1930, Stevens took the
          first photograph of the Earth in a way that the horizon's curvature is
          visible.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
