---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<div class="internal-links flex justify-center space-x-4 my-5">
			<HeaderLink class="text-blue-500 hover:text-blue-300 cursor-pointer text-2xl" href="/">Home</HeaderLink>
			<HeaderLink class="text-blue-500 hover:text-blue-300 cursor-pointer text-2xl" href="/blog">Blog</HeaderLink>
			<HeaderLink class="text-blue-500 hover:text-blue-300 cursor-pointer text-2xl" href="/about">About</HeaderLink>
		</div>
	</nav>
</header>